<div class="ui segment">
  <h3>Viestit</h3>
  <table class="table table-striped">
    <tbody class="form-group">

    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @conversations.each do |conversation| %>

        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
                <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <tr>
              <td><% if recipient.image.present? %>
                    <%= image_tag recipient.image_url(:list) %>
                <% end %></td>
              <td>
                <%= link_to recipient.first_name, conversation_messages_path(conversation) %>
                  <%= render 'layouts/stars', :user => recipient %><br>
                <% if Conversation.where(id:conversation.id).user_messages(current_user.id).unread_by(current_user).count > 0 %>
                    <p>Uusia viestejä</p>
                <% end %>
              </td>
              <td>
                <% if conversation.post_id %>
                    <%= link_to Post.find(conversation.post_id).title, conversation_messages_path(conversation) %>
                <% end %>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>

</div>