<h1>Ilmoitukset</h1>
<br>
<h5><b>Etsitään helpperiä</b></h5>
<table class="table table-striped">

  <tbody>
  <tr>
    <td>Otsikko</td>
    <td>Hinta</td>
    <td>Kategoria?</td>
    <td>Rating</td>
  </tr>
  </tbody>
</table>
<br>

<h5><b>Halutaan helpperiksi</b></h5>
<table class="table table-striped">
  <tbody>
  <tr>
    <td>Otsikko</td>
    <td>Hinta</td>
    <td>Kategoria?</td>
    <td>Rating</td>
  </tr>
  </tbody>
</table>