<h2>Ilmoitukset</h2>
<br>
<h5>Etsitään helpperiä</h5>
<table class="table table-striped">

  <tbody>
  <tr>
    <td>Otsikko</td>
    <td>Tyyppi</td>
    <td>Hinta</td>
    <td>Rating</td>
    <td>Kategoria?</td>
    <td></td>
  </tr>
  </tbody>
</table>
<br>

<h5>Halutaan helpperiksi</h5>
<table class="table table-striped">
  <tbody>
  <tr>
    <td>Otsikko</td>
    <td>Tyyppi</td>
    <td>Hinta</td>
    <td>Rating</td>
    <td>Kategoria?</td>
    <td></td>
  </tr>
  </tbody>
</table>