<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= @user.first_name %></h1>
    <h2 class="text-center login-title"> Arvioinnit (<%= @user.ratings.count %>)</h2>
    <div class="account-wall">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="col-md-2"></th>
          <th class="col-md-2"></th>
        </tr>
        </thead>

        <tbody class="form-group">
        <% @user.ratings.each do |review| %>
          <tr>
            <td>
              <%= review.review %>
            </td>
            <td>
              <ul style="list-style: none; padding-left: 0;">
              <% (1..3).each do |i| %>
                  <% if i <= review.score %>
                      <li class="on"></li>
                  <% else %>
                      <li class="rating_star"></li>
                  <% end %>
              <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>