<h2><%= @user.email %></strong></h2>
<h2>Etunimi: <%= @user.first_name %></strong></h2>
<h2>Sukunimi: <%= @user.last_name %></strong></h2>

<%= link_to('Muokkaa', edit_user_registration_path(@user), class:"btn btn-primary") if current_user == @user %>