<p>
  <strong>Käyttäjätunnus:</strong>
  <%= @user.username %>
</p>

<% if current_user == @user %>
<%= link_to 'Muokkaa', edit_user_path(@user) %>
<%= link_to('Poista', @user, method: :delete,
            data: {confirm: 'Haluatko varmasti poistaa käyttäjän?' }, class:"btn btn-danger") %>
<% end %>
<%= link_to 'Takaisin', users_path %>
