<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center login-title">Muokkaa ilmoitusta</h1>
    <div class="account-wall">

      <%= render 'form' %>

    </div>
  </div>
</div>