<p>Tervetuloa <%= @email %>!</p>

<p>Voit vahvistaa tilisi sähköpostiosoitteen alla olevasta linkistä:</p>

<p><%= link_to 'Vahvista tilini', confirmation_url(@resource, confirmation_token: @token) %></p>
