<p>Hei <%= @resource.email %>!</p>

<p>Olet ilmoittanut haluavasi vaihtaa salasanasi. Voit tehdä sen alla olevan linkin kautta.</p>

<p><%= link_to 'Vaihda salasana', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jos sinä et pyytänyt tätä, ole hyvä ja jätä tämä viesti huomiotta.</p>
<p>Salasanaasi ei vaihdeta, jos et käytä yllä olevaa linkkiä.</p>
