<p>Hei <%= @resource.email %>!</p>

<p>Joku on pyytänyt linkkiä salasanasi vaihtoon. Voit tehdä tämän alla olevan linkin kautta.</p>

<p><%= link_to 'Vaihda salasanani', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jos et pyytänyt tätä, voit jättää tämän viestin huomiotta.</p>
<p>Salasanasi ei vaihdu ennen kuin luot linkin kautta uuden salasanan.</p>
