<p>Hei <%= @resource.email %>!</p>

<p>Olet pyytänyt linkkiä salasanasi vaihtoon. Voit tehdä vaihdon alla olevan linkin kautta.</p>

<p><%= link_to 'Vaihda salasanani', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Mikäli et ole itse pyytänyt salasanan vaihtoa, voit jättää tämän viestin huomiotta.</p>
<p>Salasanasi ei vaihdu ennen kuin linkin kautta on luotu uusi salasana.</p>


<p>Ystävällisin terveisin, </p><br>
<p>Helpperi-tiimi</p>