<p>Hei <%= @resource.email %>!</p>

<p>Tilisi on lukittu liian monen ep채onnistuneen kirjautumisyrityksen johdosta. </p>
<p>Klikkaa alla olevaa linkki채 poistaaksesi tilisi lukituksen: </p>


<p><%= link_to 'Poista tilini lukitus', unlock_url(@resource, unlock_token: @token) %></p>


<p>Yst채v채llisin terveisin, </p><br>
<p>Helpperi-tiimi</p>