<p>Hei <%= @resource.email %>!</p>

<p>Tilisi on lukittu, koska olet yritt채nyt liian monta kertaa kirjautua ep채onnistuneesti sis채채n.</p>

<p>Voit avata tilisi alla olevan linkin kautta:</p>

<p><%= link_to 'Avaa tili', unlock_url(@resource, unlock_token: @token) %></p>
