
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"> Ota yhteyttä</h1>
    <div class="account-wall">

      <div class="padding">

        <p>Mikäli sinulla on ongelmia tai kysyttävää, voit ottaa yhteyttä asiakaspalveluumme
          soittamalla tai lähettämällä sähköpostia.</p>
        <p>Puhelinpalvelu on avoinna arkisin klo 12-14. Puhelun
          Kannattaa aluksi vilkaista Info-sivuamme, saatat löytää ratkaisun sieltä.</p>
        <br>
        <p><span class="glyphicon glyphicon-phone-alt"> 050 0000000 (hinta pitää mainita)</span></p>
        <p><span class="glyphicon glyphicon-envelope"> apua@apua.apua</span></p>

      </div>
    </div>
  </div>
</div>