<h1>Yhteistyössä</h1><br>

<img src="http://mooc.cs.helsinki.fi/sites/mooc.cs.helsinki.fi/files/CS-logo-MOOC.jpg"
     alt="Helsingin yliopisto, tietojenkäsittelytieteen laitos"
     style="float:left;width:400px;">
