<h1>Info</h1><br>

<h4>"En saanut tunnusten vahvistusohjeita sähköpostiini"</h4>
<p>- Voit tilata uudet vahvistusohjeet
  <%= link_to "tästä linkistä", new_user_confirmation_path %> syöttämällä
  rekisteröintivaiheessa antamasi sähköpostiosoitteen.<br>
  Muistathan tarkistaa roskaposti-kansiosi. Mikäli epäilet antaneesi rekisteröityessä väärän sähköpostiosoitteen, <br>
  olethan yhteydessä asiakaspalveluumme.
</p><br>

<h4>"Olen unohtanut salasanani"</h4>
<p>- Salasanan pääset uusimaan <%= link_to "tästä linkistä", new_user_password_path %>.</p><br>

<h4>"Tunnukseni on lukittu"</h4>
<p>- Mikäli kirjoitit salasanasi väärin liian monta kertaa, pääset avaamaan tunnuksesi
  <%= link_to "tästä linkistä", new_user_unlock_path %>.<br>
  Muussa tapauksessa ota yhteyttä asiakaspalveluumme.
</p><br>

<h4>"Poistin tilini, mutta haluaisin avata sen uudestaan"</h4>
<p>- Poistetut tilin pääset palauttamaan ottamalla yhteyttä asiakaspalveluumme.
</p><br>

<h4>"En pysty luomaan uusia ilmoituksia"</h4>
<p>- Varmistathan profiilisivultasi, että olet täyttänyt kaikki pakolliset tiedot.</p><br>

<h4>"Joudunko maksamaan veroja Helpperin kautta tekemästäni työstä?"</h4>
<p>- Vastikkeeton työ on verovapaata, mutta vastikkeeksi saatu vaihtotyö on lähtökohtaisesti veronalaista ansiotuloa.<br>
  Rahallisen vastikkeen verotus riippuu vastikkeen suuruudesta.
  <a href="http://www.vero.fi">Verohallinnon sivuilta</a>
  pääset lukemaan verotuksesta tarkemmin.
</p><br>