<footer class="footer">
  <ul>
    <li><%= link_to "Info", '#' %></li>
  </ul>
  <ul>
    <li><%= link_to "Ota yhteyttä", '#' %></li>
  </ul>
  <ul>
    <li><%= link_to "Yhteistyössä", '#' %></li>
  </ul>
</footer>t