<%= link_to user_ratings_path(:id => user.id) do %>
  <div class="row">
    <div class="col-xs-14 col-sm-8 col-md-8">
      <% (1..5).each do |i| %>
        <% if user.ratings_count != 0  && i <= user.average_rating %>
          <p class="on"></p>
        <% else %>
          <p class="rating_star"></p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

